<!DOCTYPE html>
<html>
    <head>
        <title>{% block title 'Danos feedback!' %} - Buzz</title>

        <meta name="viewport" content="width=device-width" />


        <link href="{{ app.request.basepath }}/css/foundation.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basepath }}/css/style.css" rel="stylesheet" type="text/css" />
        <link rel="alternate" type="application/rss+xml" title="BUZZ Feed" href="{{ path("list_posts", {format: "rss"}) }}" />

    </head>
    <body>

        <div class="row">
            <div class="large-12 columns">
                <h1>Buzz</h1>
            </div>
        </div>

        <div class="row">
            <div class="large-8 small-12 columns">

                <section id="publish_form">
                    {% include 'posts/new_form.html.twig' %}
                </section>


                <section id="post_list">
                    {% block content %}{% endblock %}
                </section>

                {% block load_more %}
                    <div class="row load_more">
                        <div class="small-4 small-offset-4 columns">
                            <button class="button small secondary small-12 " id="load_more">ver más</button>
                        </div>
                    </div>
                {% endblock %}


            </div>
            <div class="large-4 small-12 columns">
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <p>
                    <a href="{{ path("twitter_auth") }}">
                        <img src="https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png">
                    </a>
                </p>
                {% endif %}
                <div class="panel hide-for-small">
                    <h4>Buzz, baby buzz!</h4>
                    
                    <p>
                        Desarrollado con <a href="http://silex.sensiolabs.org" target="_blank">Silex</a><br/>
                        <small><a href="https://github.com/asiermarques/buzz" target="_blank">ver en github</a></small>
                    </p>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="/js/vendor/jquery.js"></script>
        <script type="text/javascript" src="/js/fuzz.js"></script>
        {% block js %}

            <script type="text/javascript">
                var ajax_url     = "{{ path("list_posts", {format: "html"}) }}";
            </script>

        {% endblock %}



    </body>
</html>
